mixin top(data)
	+b.SECTION.top()&attributes(attributes)
		+e.bg.object-fit.IMG(src=data.src)
		+e.inner
			if data.category
				+e.category.red-link.h6.A(href="#") #{data.category}
			+e.title.h3 #{data.title}
			+e.author.flex._vertical
				+e.cell._avatar
					+e.avatar
						+e.IMG.avatar-img.object-fit(src=data.avatar)
				+e.cell._content
					+link #{data.link}
					+e.author-text.p #{data.text}
