- var commentsData = [{name: 'Дмитрий', comment: 'Стало легче дышать', linkText: 'Законы, которые помогают списать долги', time: '2 дня'}, {name: 'Елена', comment: 'Здравствуйте. Рада, что нашла эту базу данных. Спасибо создателям за нее. Последние пару недель я <br class="comments-blog__br">хоть начала спать по ночам', linkText: 'Законы, которые помогают списать долги', time: '4 дня'}, {name: 'Виктория', comment: 'Мы тут все собрались с похожими историями.', linkText: 'Где найти выгодную ипотеку для молодой семьи', time: '5 часов'}, {name: 'Анна', comment: 'Мы тут все собрались с похожими историями.', linkText: 'Где найти выгодную ипотеку для молодой семьи', time: '8 часов'},{name: 'Дмитрий', comment: 'Стало легче дышать', linkText: 'Законы, которые помогают списать долги', time: '2 дня'}, {name: 'Елена', comment: 'Здравствуйте. Рада, что нашла эту базу данных. Спасибо создателям за нее. Последние пару недель я <br class="comments-blog__br">хоть начала спать по ночам', linkText: 'Законы, которые помогают списать долги', time: '4 дня'}, {name: 'Виктория', comment: 'Мы тут все собрались с похожими историями.', linkText: 'Где найти выгодную ипотеку для молодой семьи', time: '5 часов'}, {name: 'Анна', comment: 'Мы тут все собрались с похожими историями.', linkText: 'Где найти выгодную ипотеку для молодой семьи', time: '8 часов'}]

+b.SECTION.comments-blog
	+e.wrap.wrap
		+e.top
			+e.H2.title.h3 !{'Сейчас <br class="comments-blog__br"> комментируют'}
			+e.nav
				+e.BUTTON.btn._left
					+icon('arrow', '0 0 18.561 9.6213')
				+e.SPAN.mobile-nav-counter
					+e.SPAN.current-page 1
					| &#32; / &#32;
					+e.SPAN.of-pages 0
				+e.BUTTON.btn._right
					+icon('arrow', '0 0 18.561 9.6213')

		+e.comments-wrap
			+e.DIV.list.owl-carousel
				each itemData in commentsData
					+e.DIV.item
						+e.icon-wrap
							+icon('commentBlog', '0 0 28 28')
						+e.H3.item-title.h5 !{itemData.name}
						+e.P.comment-text.h6.is-regular !{itemData.comment}
						+e.A.link(href="#")
							| !{itemData.linkText}
							+e.SPAN.arrow.arrow
								+icon('arrow', '0 0 18.561 9.6213')

						+e.SPAN.time-wrap.p
							+e.SPAN.time !{itemData.time}
							| &#32;
							+e.SPAN.time-end назад
