+e.top(class="" +topBg)
        +e.wrap.wrap
            +e.top-content
                +e.success-icon-wrap
                    +e.SVG.icon-succes(
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg")
                        CIRCLE(class="circle" cx="10" cy="10" r="10" fill="#19C13E")
                        PATH(
                            class="check"
                            d="M6.5 9.74902L9 12.499L14 6.99902"
                            stroke="white"
                            stroke-width="2")
                +e.SPAN.top-text.h6 Ваша почта подтверждена!


+e(class="content_" +pageModificator)
    +e.content-wrap.wrap
        +e.content-text-wrap(class='' +contentColor)
            +e.P.slogan.p.small Поздравляем! Вы выиграли подарок от МБК!
            +e.H1.title.h3 !{mainTitle}

            +e.benefits-price-wrap
                +e.UL.benefits-list
                    each benefit in benefits
                        +e.LI.benefit-item.h6
                            +e.benefit-icon-wrap
                                +icon('benefit', '0 0 19 16')
                            | !{benefit}

                +e.prices
                    if pageModificator === 'encumbrances' || pageModificator === 'month-credit'
                        +e.price-wrap
                            +e.SPAN.price-text._start Максимальная экономия
                            +e.SPAN.price._start.h4.is-bold= startPrice
                    else
                        +e.price-wrap
                            +e.SPAN.price-text._start Цена для всех
                            +e.SPAN.price._start.h4.is-bold= startPrice
                        +e.arrow-wrap
                            +icon('priceArrow', '0 0 43 20')
                        +e.price-wrap
                            +e.SPAN.price-text._for-you Цена для Вас
                            +e.SPAN.price._for-you.h4.is-bold 0 ₽

    +e.bg-image-mobile

    case pageModificator
        when 'consultation'
            +e.inscription.specialist-inscription__
                +e.specialist-name.A(href="#") Бодин Александр
                +e.specialist-status.SPAN Юрист по вопросам недвижимости
                +e.border-wrap
                    +icon('inscription', '0 0 178 102')
        when 'consultation-expert'
            +e.inscription.specialist-inscription__
                +e.specialist-name.A(href="#") Бодин Александр
                +e.specialist-status.SPAN Специалист по финансовым продуктам
                +e.border-wrap
                    +icon('inscription', '0 0 178 102')
        when 'docs'
            +e.prize-wrap.prize-wrap__
                +e.prize-icon-wrap
                    +icon('prize', '0 0 39 39')
                +e.prize-text.h6.is-regular
                    | Получи
                    br
                    | подарок
        when 'history'
            +e.image-wrap-desktop
                +e.IMG.image-bg-desk(src="/img/history-bg@desktop.png")
            +e.prize-wrap.prize-wrap__
                +e.prize-icon-wrap
                    +icon('prize', '0 0 39 39')
                +e.prize-text.h6.is-regular
                    | Получи
                    br
                    | подарок
        when 'banking-terms'
            +e.image-wrap-desktop
                +e.IMG.image-bg-desk(src="/img/banking-terms-bg@desktop.png")
            +e.prize-wrap.prize-wrap__
                +e.prize-icon-wrap
                    +icon('prize', '0 0 39 39')
                +e.prize-text.h6.is-regular
                    | Получи
                    br
                    | подарок
        when 'free-scoring'
            +e.image-wrap-desktop
                +e.IMG.image-bg-desk(src="/img/free-scoring-bg@desktop.png")
            +e.prize-wrap.prize-wrap__
                +e.prize-icon-wrap
                    +icon('prize', '0 0 39 39')
                +e.prize-text.h6.is-regular
                    | Получи
                    br
                    | подарок
