+b.SECTION.sell-apartment
    +e.wrap.wrap
        +breadcrumbs('Главная', 'Услуги', 'Продать квартиру срочно')
        +e.title.h2.H2 Продать квартиру срочно?
        +e.slogan.p.P Оцените спрос на Вашу квартиру в 1 клик
        +e.applications_mobile.P Принимаем заявки из Москвы и Московской области

        +e.form.sell-form__.FORM(action="/" method="POST")
            +e.label_address.LABEL Адрес
                +e.input.INPUT(
                    type="text"
                    placeholder="Москва, улица Шаболовка, 10"
                    name="address"
                    autocomplete="off" required)
            +e.label_price.LABEL Цена
                +e.input-wrap
                    +e.input.INPUT(
                        type="text"
                        placeholder="5 000 000"
                        name="price"
                        autocomplete="off"
                        inputmode="numeric" required)
            +e.label_rooms.LABEL Комнат
                +e.form-field.select__.js-select
                    +e.item
                        +e.field.SELECT(name="howMuchRooms")
                            option 1
                            option 2
                            option 3
                            option 4

            +e.label_square.LABEL Площадь
                +e.input-wrap
                    +e.input.INPUT(
                        type="text"
                        placeholder="100"
                        name="square"
                        autocomplete="off"
                        inputmode="numeric" required)
            +e.btn.btn.BUTTON(type="submit") Получи оценку онлайн
        +e.addition
            +e.applications.P Принимаем заявки из Москвы и МО
            +e.assessment.P Сегодня получили оценку: 322 человека
    include sell-popup
