+b.SECTION.success-auction
    +e.wrap.wrap.white
        +e.top
            +e.top-content
                +e.success-icon-wrap
                    +e.SVG.icon-succes(
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg")
                        CIRCLE(class="circle" cx="10" cy="10" r="10" fill="#19C13E")
                        PATH(
                            class="check"
                            d="M6.5 9.74902L9 12.499L14 6.99902"
                            stroke="white"
                            stroke-width="2")
                +e.SPAN.top-text Отлично, Ваша заявка успешно отправлена, ожидайте звонка специалиста

        +e.middle
            +e.H2.title.h3 Апрельский аукцион!
            +e.P.slogan.h5.is-regular Испытайте удачу и выиграйте подарок от МБК

            +e.FORM.form.form__(action="/")
                +e.INPUT(type="hidden" name="method[subscribe]" value='1')
                +e.email.input__._medium
                    +e.INPUT.item(type="text" placeholder="Введите ваш E-mail" name="email")
                +e.submit-wrap
                    +e.button.btn.h6.BUTTON(type="submit")
                        +e.text Получить подарок
                    +e.LABEL.access.access.checkbox__
                        +e.INPUT.input(type='checkbox' name='access' checked="")
                        +e.SPAN.text
                            +e.check
                                +icon('check', '0 0 9 7')
                            | Я согласен с условиями
                            | передачи данных

        +e.bottom
            +e.SPAN.prompt
                +e.SPAN.prompt-star *
                +e.SPAN.prompt-text Вращать барабан можно только 1 раз

            +e.carusel-wrap
                +e.UL.carusel
                    +e.LI.item.icon-button__._photo
                        +e.SPAN.icon
                            +icon('we-know-camera','0 0 34 34')
                        +e.SPAN.text.h6
                            | Бесплатная фотосессия квартиры
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount 3 000 ₽
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-photo.png"
                            alt="Бесплатная фотосессия квартиры"
                            draggable="false")

                    +e.LI.item.icon-button__._docs
                        +e.SPAN.icon
                            +icon('copy','0 0 34 34')
                        +e.SPAN.text.h6
                            | Подготовка комплекта документов для продажи недвижимости за наш счёт
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount 5 000 ₽
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-docs.png"
                            alt="Подготовка комплекта документов для продажи недвижимости за наш счёт"
                            draggable="false")

                    +e.LI.item.icon-button__._relocation
                        +e.SPAN.icon
                            +icon('car','0 0 34 34')
                        +e.SPAN.text.h6
                            | Переезд
                            br
                            |за наш счёт
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount до 10 000 ₽
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-relocation.png"
                            alt="Переезд за наш счёт"
                            draggable="false")

                    +e.LI.item.icon-button__._advertising
                        +e.SPAN.icon
                            +icon('sound','0 0 34 34')
                        +e.SPAN.text.h6
                            | Рекламная
                            br
                            | кампания в соц
                            br
                            |сетях за наш счет
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount 20 000 ₽
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-advertising.png"
                            alt="Рекламная кампания в соц. сетях за наш счет"
                            draggable="false")

                    +e.LI.item.icon-button__._encumbrances
                        +e.SPAN.icon
                            +icon('unlock','0 0 34 34')
                        +e.SPAN.text.h6
                            | Снимаем
                            br
                            | все обременения
                            br
                            | за свой счёт
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount до 3 000 000 ₽
                                +e.prize-fire-wrap
                                    +e.SVG.icon-fire(
                                        viewBox="0 0 36 40"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg")
                                        g(filter="url(#filter0_d)")
                                            path(d="M29.5511 17.8422C28.2701 15.9815 27.6165 14.5854 27.4423 12.2623C27.3119 10.5262 28.0417 8.52139 28.0417 8.52139C27.1372 9.12384 27.1271 9.05931 26.53 9.55275C23.4221 12.1215 22.61 14.6923 22.515 15.0246C22.5085 15.0482 22.5047 15.0618 22.5047 15.0618L22.515 15.0246C22.515 15.0246 24.9441 5.52149 18.1821 1.09621C17.6209 0.729067 16.3265 0 16.3265 0C16.3265 0 19.6838 8.23083 13.6727 13.1137C12.4896 8.2848 6.24339 8.22539 6.24339 8.22539C6.24339 8.22539 6.72339 9.90784 6.80051 10.3058C7.81278 15.5537 4.71016 17.2144 4.07998 22.1754C4.15187 21.606 4.12328 21.8326 4.07955 22.1785C4.07934 22.1796 4.07912 22.1809 4.07912 22.1822C4.07923 22.1815 4.07923 22.1811 4.07934 22.1805C4.07912 22.182 4.07902 22.1834 4.07891 22.1846C3.58707 26.0791 5.44286 29.0955 8.2947 31.1307C8.42782 29.7561 8.99134 28.3924 9.77448 27.2546C10.6608 25.9675 11.113 25.0016 11.233 23.3947C11.3226 22.1936 10.8184 20.8065 10.8184 20.8065C11.4433 21.2237 11.4512 21.1791 11.8641 21.5203C13.6108 22.9639 14.3091 24.4086 14.5449 25.023C14.5528 25.0182 14.5609 25.0135 14.5695 25.0089C14.2716 23.6641 13.4318 18.4238 17.639 15.6704C18.027 15.4169 18.9225 14.9124 18.9225 14.9124C18.9225 14.9124 16.54 20.122 21.7853 24.3536C21.6681 22.6218 22.3288 21.0227 23.5652 19.7906C24.2369 19.1218 25.4473 18.8004 25.4473 18.8004C25.4473 18.8004 25.1149 19.965 25.0617 20.24C24.3614 23.8713 27.4099 26.6948 26.7586 30.1344C26.6365 30.7791 26.4615 31.4048 26.2176 31.9999H26.5088C28.055 31.1742 29.49 30.1004 30.4727 28.627C32.7088 25.2747 31.7039 20.9689 29.5511 17.8422Z" fill="#FF0400")
                                        defs
                                            filter(
                                                id="filter0_d"
                                                x="0" y="0"
                                                width="35.7344"
                                                height="39.9999"
                                                filterUnits="userSpaceOnUse"
                                                color-interpolation-filters="sRGB")
                                                feFlood(
                                                    flood-opacity="0"
                                                    result="BackgroundImageFix")
                                                feColorMatrix(in="SourceAlpha"
                                                    type="matrix"
                                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
                                                feOffset(dy="4")
                                                feGaussianBlur(stdDeviation="2")
                                                feColorMatrix(type="matrix"
                                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
                                                feBlend(mode="normal"
                                                    in2="BackgroundImageFix"
                                                    result="effect1_dropShadow")
                                                feBlend(mode="normal"
                                                    in="SourceGraphic"
                                                    in2="effect1_dropShadow"
                                                    result="shape")
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-encumbrances.png"
                                alt="Рекламная кампания в соц сетях за наш счет"
                                draggable="false")

                    +e.LI.item.icon-button__._ad
                        +e.SPAN.icon
                            +icon('share','0 0 34 34')
                        +e.SPAN.text.h6
                            | Разместим
                            br
                            |Ваше объявление
                            br
                            | на 100 площадок бесплатно
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount 5 000 ₽
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-ad.png"
                            alt="Разместим Ваше объявление на 100 площадок бесплатно"
                            draggable="false")

                    +e.LI.item.icon-button__._consultation
                        +e.SPAN.icon
                            +icon('info','0 0 34 34')
                        +e.SPAN.text.h6
                            | Бесплатная консультация юриста по сделкам с недвижимостью
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount 3 000 ₽
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-consultation.png"
                            alt="Бесплатная консультация юриста по сделкам с недвижимостью"
                            draggable="false")

                    +e.LI.item.icon-button__._cleaning
                        +e.SPAN.icon
                            +icon('arrows','0 0 34 34')
                        +e.SPAN.text.h6
                            | Клининг
                            br
                            | квартиры
                            br
                            | бесплатно
                        +e.SPAN.prize-wrap
                            +e.prize-text Выигрыш
                            +e.prize-amount 2 000 ₽
                        +e.image-wrapper
                            +e.IMG.img(src="/img/auction-clean.png"
                            alt="Клининг квартиры бесплатно"
                            draggable="false")
